@page "/beta"
@page "/"

<h1>THIS IS A BETA TEST OF PYTH'S DRAFT APP. DO NOT TRY TO BREAK IT. IT IS PROBABLY BREAKABLE</h1>
<h1>WHEN IT BECOMES YOUR TURN TO PICK, YOU MAY HAVE TO REFRESH THE PAGE IN ORDER TO ACTUALLY GAIN THE ABILITY TO PICK</h1>
<h1>IF YOUR PICK DOESN'T GO THROUGH, REFRESH THE PAGE AND TRY AGAIN</h1>

<h2>DO NOT: OPEN THIS IN MULTIPLE TABS</h2>
<h2>DO NOT: SPAM CLICK THE PICK BUTTON</h2>
<h2>DO NOT: SPAM REFRESH OR TBH PRETTY MUCH ANYTHING</h2>
<h2>DO NOT: ATTEMPT TO LOGIN AS ANYONE BUT YOURSELF</h2>
<h2>IF YOU SEE AN ERROR OCCUR, REFRESH YOUR PAGE. IT SHOULD BE FINE (ACTUALLY)</h2>
<h2>IF SOMETHING CATASTROPHIC HAPPENS, PING PYTH IN DISCORD</h2>
<h2>IF YOU THINK YOUR PICK WAS EATEN / SKIPPED / ETC, OR SOMETHING WEIRD HAPPENED, PING PYTH IN DISCORD</h2>

<h1>ALL OF THE DRAFT STUFF HAPPENS IN DRAFT HOME, YOU CAN CLICK IT ON THE SIDEBAR AT ALL TIMES</h1>
<h1>YOU HAVE ALL BEEN GIVEN ACCOUNTS WITH DUMMY PASSWORDS, YOU WILL NOT NEED TO CREATE AN ACCOUNT</h1>
@code {

}
