@page "/createaccount"
@using Microsoft.Data.SqlClient
@using PokemonDraft.Data
@using PokemonDraft.Models.ViewModels
@using PokemonDraft.Models.Entities
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.EntityFrameworkCore
@using System.ComponentModel.DataAnnotations
@using BCrypt.Net
@inject PokemonDraftContext dbContext
@inject NavigationManager NavigationManager
@inject IDbContextFactory<PokemonDraft.Data.PokemonDraftContext> DbFactory

@* <div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <EditForm Model="Model" OnValidSubmit="AccountCreation" FormName="LoginForm">
            <DataAnnotationsValidator />
            <div class="mb-3 text-center flex-column">
                <h3>CreateAccount</h3>
            </div>
            <div class="mb-3">
                <label>Username</label>
                <InputText @bind-Value="Model.UserName" class="form-control" placeholder="username" />  
            </div>
            <div class="mb-3">
                <label>Password</label>
                <InputText @bind-Value="Model.Password" class="form-control" placeholder="password" />    
            </div>
            <div class="mb-3 text-center">
                <span class="text-danger">@errorMessage</span>
            </div>
            <div class="mb-3 d-grid gap-2">
                <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
        </EditForm>
    </div>

</div> *@

piss off

@code {

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    [SupplyParameterFromForm]
    public LoginViewModel Model { get; set; } = new();

    public string? errorMessage;

    private Trainer Trainer = new Trainer();

    public async Task AccountCreation()
    {
        if (string.IsNullOrWhiteSpace(Model.UserName) ||
            string.IsNullOrWhiteSpace(Model.Password))
        {
            errorMessage = "Invalid username or password";
            return;
        }

        string checkDups = String.Empty;
        var roster = DbFactory.CreateDbContext();

        using (var cnn = new SqlConnection(@"Server=(LocalDB)\MSSQLLocalDB;Database=PokemonDraftContext-0ca97d9a-edc5-4557-8bad-e9ce5b55bbf8;Trusted_Connection=True;"))
        {
            cnn.Open();
            using (var cmd = cnn.CreateCommand())
            {
                cmd.CommandText = @"SELECT TOP 1 team_owner FROM Trainer_Live WHERE team_owner = @UserName";
                cmd.Parameters.AddWithValue("@UserName", Model.UserName);
                var checkDb = cmd.ExecuteScalar() as string;
                cmd.ExecuteNonQuery();
                checkDups = checkDb!;
            }
        }

        if (checkDups != null)
        {
            errorMessage = "This username already exists";
            return;
        }

        //var hashedPassword = BCrypt.EnhancedHashPassword(Model.Password, 13);
        //Model.Password = hashedPassword;

        Trainer.TrainerName = Model.UserName;
        Trainer.Password = Model.Password;

        dbContext.Trainer.Add(Trainer);
        await dbContext.SaveChangesAsync();

        Model.Password = "";
        Redirect();

        void Redirect()
        {
            NavigationManager.NavigateTo("login");
        }
    }
}
