@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager

<div class="row">
    <div class="text-center mt-2">
        <span class="text-danger fw-bolder">You are now logged out</span>
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout", true);
        }
    }
}
